<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>duelist_attack_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,956},{180,260}}</string>
    <key>offset</key>
    <string>{-22,-46}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1240,372},{152,264}}</string>
    <key>offset</key>
    <string>{-4,-44}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{1064,1164},{196,156}}</string>
    <key>offset</key>
    <string>{-130,122}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{364,392}}</string>
    <key>offset</key>
    <string>{26,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,0},{356,360}}</string>
    <key>offset</key>
    <string>{26,-24}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,392},{348,356}}</string>
    <key>offset</key>
    <string>{38,-26}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,360},{324,368}}</string>
    <key>offset</key>
    <string>{46,-24}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{720,0},{316,372}}</string>
    <key>offset</key>
    <string>{46,-26}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{720,372},{324,340}}</string>
    <key>offset</key>
    <string>{46,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,748},{332,340}}</string>
    <key>offset</key>
    <string>{46,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,728},{332,316}}</string>
    <key>offset</key>
    <string>{46,-18}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{876,956},{188,224}}</string>
    <key>offset</key>
    <string>{10,-64}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1036,0},{268,232}}</string>
    <key>offset</key>
    <string>{-82,-40}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{1064,956},{196,208}}</string>
    <key>offset</key>
    <string>{-14,-72}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{876,1180},{188,200}}</string>
    <key>offset</key>
    <string>{-38,-76}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1088},{288,188}}</string>
    <key>offset</key>
    <string>{-88,-86}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,728},{276,228}}</string>
    <key>offset</key>
    <string>{-98,-66}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1044,372},{196,252}}</string>
    <key>offset</key>
    <string>{-102,-54}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,1044},{260,204}}</string>
    <key>offset</key>
    <string>{-94,-30}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{972,728},{264,176}}</string>
    <key>offset</key>
    <string>{-100,52}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1036,232},{240,136}}</string>
    <key>offset</key>
    <string>{-112,100}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_attack_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,1248},{220,148}}</string>
    <key>offset</key>
    <string>{-126,114}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>duelist_attack.png</string>
  </dict>
 </dict>
</plist>
