<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>duelist_idle_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,216},{188,208}}</string>
    <key>offset</key>
    <string>{-34,-72}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,216},{184,212}}</string>
    <key>offset</key>
    <string>{-36,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,0},{188,216}}</string>
    <key>offset</key>
    <string>{-34,-68}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,632},{184,212}}</string>
    <key>offset</key>
    <string>{-28,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,636},{184,208}}</string>
    <key>offset</key>
    <string>{-28,-72}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,0},{188,208}}</string>
    <key>offset</key>
    <string>{-30,-72}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,424},{188,208}}</string>
    <key>offset</key>
    <string>{-30,-72}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,216},{192,208}}</string>
    <key>offset</key>
    <string>{-32,-72}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,216},{188,208}}</string>
    <key>offset</key>
    <string>{-34,-72}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,216},{184,212}}</string>
    <key>offset</key>
    <string>{-36,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,424},{184,212}}</string>
    <key>offset</key>
    <string>{-36,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,640},{176,212}}</string>
    <key>offset</key>
    <string>{-32,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,424},{184,212}}</string>
    <key>offset</key>
    <string>{-36,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{556,640},{176,212}}</string>
    <key>offset</key>
    <string>{-32,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{564,216},{180,212}}</string>
    <key>offset</key>
    <string>{-34,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{564,428},{180,212}}</string>
    <key>offset</key>
    <string>{-34,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,428},{184,212}}</string>
    <key>offset</key>
    <string>{-36,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{564,0},{180,216}}</string>
    <key>offset</key>
    <string>{-38,-68}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{188,216}}</string>
    <key>offset</key>
    <string>{-38,-68}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,0},{188,216}}</string>
    <key>offset</key>
    <string>{-34,-68}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,632},{184,212}}</string>
    <key>offset</key>
    <string>{-28,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_28.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,636},{184,208}}</string>
    <key>offset</key>
    <string>{-28,-72}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_29.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,0},{188,208}}</string>
    <key>offset</key>
    <string>{-30,-72}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,640},{176,212}}</string>
    <key>offset</key>
    <string>{-32,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_30.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,424},{188,208}}</string>
    <key>offset</key>
    <string>{-30,-72}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,216},{192,208}}</string>
    <key>offset</key>
    <string>{-32,-72}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{556,640},{176,212}}</string>
    <key>offset</key>
    <string>{-32,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{564,216},{180,212}}</string>
    <key>offset</key>
    <string>{-34,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{564,428},{180,212}}</string>
    <key>offset</key>
    <string>{-34,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,428},{184,212}}</string>
    <key>offset</key>
    <string>{-36,-70}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{564,0},{180,216}}</string>
    <key>offset</key>
    <string>{-38,-68}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
   <key>duelist_idle_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{188,216}}</string>
    <key>offset</key>
    <string>{-38,-68}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{480,480}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>duelist_idle.png</string>
  </dict>
 </dict>
</plist>
