<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>samurai_attack_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,244},{164,136}}</string>
    <key>offset</key>
    <string>{8,-83}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_attack_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,380},{158,136}}</string>
    <key>offset</key>
    <string>{8,-83}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_attack_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{212,539},{150,136}}</string>
    <key>offset</key>
    <string>{9,-83}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_attack_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{362,539},{140,136}}</string>
    <key>offset</key>
    <string>{14,-83}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_attack_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{212,300}}</string>
    <key>offset</key>
    <string>{21,-20}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_attack_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{212,271},{204,268}}</string>
    <key>offset</key>
    <string>{37,-17}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_attack_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,300},{208,268}}</string>
    <key>offset</key>
    <string>{41,-20}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_attack_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{212,0},{210,271}}</string>
    <key>offset</key>
    <string>{34,-15}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_attack_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,0},{164,244}}</string>
    <key>offset</key>
    <string>{11,-32}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_attack_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{580,380},{124,148}}</string>
    <key>offset</key>
    <string>{3,-80}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>samurai_attack.png</string>
  </dict>
 </dict>
</plist>
