<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>samurai_idle_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,537},{150,164}}</string>
    <key>offset</key>
    <string>{21,-69}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,537},{150,164}}</string>
    <key>offset</key>
    <string>{21,-69}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,367},{152,173}}</string>
    <key>offset</key>
    <string>{20,-64}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,361},{150,176}}</string>
    <key>offset</key>
    <string>{21,-63}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{306,0},{150,179}}</string>
    <key>offset</key>
    <string>{21,-61}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,185},{150,182}}</string>
    <key>offset</key>
    <string>{21,-60}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,537},{150,164}}</string>
    <key>offset</key>
    <string>{21,-69}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,537},{150,164}}</string>
    <key>offset</key>
    <string>{21,-69}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{458,349},{150,167}}</string>
    <key>offset</key>
    <string>{21,-67}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,367},{150,170}}</string>
    <key>offset</key>
    <string>{21,-66}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,0},{150,173}}</string>
    <key>offset</key>
    <string>{21,-64}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{306,179},{152,176}}</string>
    <key>offset</key>
    <string>{20,-63}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{458,349},{150,167}}</string>
    <key>offset</key>
    <string>{21,-67}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{156,179}}</string>
    <key>offset</key>
    <string>{18,-61}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,179},{150,182}}</string>
    <key>offset</key>
    <string>{21,-60}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,0},{150,185}}</string>
    <key>offset</key>
    <string>{21,-58}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{458,179},{150,170}}</string>
    <key>offset</key>
    <string>{21,-66}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,367},{152,173}}</string>
    <key>offset</key>
    <string>{20,-64}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,361},{150,176}}</string>
    <key>offset</key>
    <string>{21,-63}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{306,0},{150,179}}</string>
    <key>offset</key>
    <string>{21,-61}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,185},{150,182}}</string>
    <key>offset</key>
    <string>{21,-60}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,367},{150,170}}</string>
    <key>offset</key>
    <string>{21,-66}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,0},{150,173}}</string>
    <key>offset</key>
    <string>{21,-64}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{306,179},{152,176}}</string>
    <key>offset</key>
    <string>{20,-63}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{156,179}}</string>
    <key>offset</key>
    <string>{18,-61}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,179},{150,182}}</string>
    <key>offset</key>
    <string>{21,-60}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,0},{150,185}}</string>
    <key>offset</key>
    <string>{21,-58}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>samurai_idle_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{458,179},{150,170}}</string>
    <key>offset</key>
    <string>{21,-66}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>samurai_idle.png</string>
  </dict>
 </dict>
</plist>
