<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>zed_attack_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{582,624},{148,117}}</string>
    <key>offset</key>
    <string>{-8,-43}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,501},{154,117}}</string>
    <key>offset</key>
    <string>{-14,-43}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{174,0},{172,252}}</string>
    <key>offset</key>
    <string>{55,18}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{174,252}}</string>
    <key>offset</key>
    <string>{57,21}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{154,252},{150,249}}</string>
    <key>offset</key>
    <string>{72,22}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,501},{136,195}}</string>
    <key>offset</key>
    <string>{79,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{440,252},{132,195}}</string>
    <key>offset</key>
    <string>{72,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{572,252},{172,114}}</string>
    <key>offset</key>
    <string>{49,-48}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,501},{192,123}}</string>
    <key>offset</key>
    <string>{36,-43}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{428,624},{154,117}}</string>
    <key>offset</key>
    <string>{-14,-43}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{618,501},{154,117}}</string>
    <key>offset</key>
    <string>{-14,-43}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,624},{156,117}}</string>
    <key>offset</key>
    <string>{-15,-43}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{572,366},{156,120}}</string>
    <key>offset</key>
    <string>{-15,-42}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{632,0},{144,126}}</string>
    <key>offset</key>
    <string>{-24,-42}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,0},{154,231}}</string>
    <key>offset</key>
    <string>{-17,10}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,252},{136,237}}</string>
    <key>offset</key>
    <string>{-11,13}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,501},{136,189}}</string>
    <key>offset</key>
    <string>{-11,31}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,0},{132,243}}</string>
    <key>offset</key>
    <string>{42,16}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_attack_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,252},{154,249}}</string>
    <key>offset</key>
    <string>{49,16}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>zed_attack.png</string>
  </dict>
 </dict>
</plist>
