<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>zed_idle_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{156,120}}</string>
    <key>offset</key>
    <string>{-12,-42}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_idle_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,120},{156,120}}</string>
    <key>offset</key>
    <string>{-12,-42}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_idle_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,357},{156,120}}</string>
    <key>offset</key>
    <string>{-12,-42}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_idle_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,0},{156,120}}</string>
    <key>offset</key>
    <string>{-12,-42}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_idle_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,120},{160,117}}</string>
    <key>offset</key>
    <string>{-14,-43}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_idle_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,360},{156,117}}</string>
    <key>offset</key>
    <string>{-15,-43}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_idle_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{312,0},{154,117}}</string>
    <key>offset</key>
    <string>{-14,-43}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_idle_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{312,237},{154,117}}</string>
    <key>offset</key>
    <string>{-14,-43}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_idle_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{312,354},{154,117}}</string>
    <key>offset</key>
    <string>{-14,-43}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_idle_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,240},{156,120}}</string>
    <key>offset</key>
    <string>{-12,-42}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
   <key>zed_idle_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,237},{156,120}}</string>
    <key>offset</key>
    <string>{-12,-42}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,300}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>zed_idle.png</string>
  </dict>
 </dict>
</plist>
