<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>pr_exp_v1_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-18,-10}</string>
    <key>spriteSize</key>
    <string>{96,123}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{398,513},{96,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-17,-12}</string>
    <key>spriteSize</key>
    <string>{90,115}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{494,513},{90,115}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,13}</string>
    <key>spriteSize</key>
    <string>{192,187}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{200,192},{192,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,15}</string>
    <key>spriteSize</key>
    <string>{200,195}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{0,0},{200,195}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,14}</string>
    <key>spriteSize</key>
    <string>{200,195}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{0,195},{200,195}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,12}</string>
    <key>spriteSize</key>
    <string>{198,192}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{200,0},{198,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,9}</string>
    <key>spriteSize</key>
    <string>{186,178}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{398,0},{186,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,7}</string>
    <key>spriteSize</key>
    <string>{184,173}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{200,379},{184,173}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{39,-3}</string>
    <key>spriteSize</key>
    <string>{34,92}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{166,571},{34,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-19,-11}</string>
    <key>spriteSize</key>
    <string>{76,94}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{90,571},{76,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-15,-11}</string>
    <key>spriteSize</key>
    <string>{58,57}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{314,552},{58,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-134,134}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{186,390},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-12}</string>
    <key>spriteSize</key>
    <string>{90,90}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{0,571},{90,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{114,116}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{200,552},{114,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,13}</string>
    <key>spriteSize</key>
    <string>{164,164}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{398,349},{164,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,12}</string>
    <key>spriteSize</key>
    <string>{172,171}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{398,178},{172,171}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pr_exp_v1_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,12}</string>
    <key>spriteSize</key>
    <string>{186,181}</string>
    <key>spriteSourceSize</key>
    <string>{270,270}</string>
    <key>textureRect</key>
    <string>{{0,390},{186,181}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{584,668}</string>
   <key>textureFileName</key>
   <string>pr_exp_v1.png</string>
  </dict>
 </dict>
</plist>
